{% extends "network/layout.html" %}

{% block body %}
    <script>

        function token(name){
            const value = `: ${document.cookie}`;
            const parts = value.split(`: ${name}=`);
            if (parts.length == 2) return parts.pop().split(';').shift();

        }

        function submit(id) {

            const textarea = document.getElementById(`textarea_${id}`).value;
            const content = document.getElementById(`${id}_content`);
            const modal = document.getElementById(`modal_edit_post_${id}`);

            fetch(`edit/${id}`, {
                method:"POST",
                headers:{"content-type":"application/json", "X-CSRFToken":token("csrftoken")},
                body: JSON.stringify({
                    content:textarea
                })
            })
            .then(response => response.json())
            .then(result => {

                content.innerHTML = result.data
                modal.classList.remove('show');
                modal.setAttribute('aria-hidden', 'true');
                modal.setAttribute('style', 'display: none');

                // get modal backdrops
                const modalsBackdrops = document.getElementsByClassName('modal-backdrop');

                // remove every modal backdrop
                for(let i=0; i<modalsBackdrops.length; i++) {
                document.body.removeChild(modalsBackdrops[i]);
                }
                location.reload()
            })
        }

        function like(id, liked) {

            const button = document.getElementById(`${id}`);
            button.classList.remove("fa-thumbs-down");
            button.classList.remove("fa-thumbs-up");

            if (liked.indexOf(id) >= 0) {
                var like = true;
            }
            else {
                var like = false;
            }

            if (like === true) {
                fetch(`r_like/${id}`)
                .then(response => response.json())
                .then(result => {
                    button.classList.add("fa-thumbs-up");
                    location.reload()
                })
            }
            else {
                fetch(`a_like/${id}`)
                .then(response => response.json())
                .then(result => {
                    button.classList.add("fa-thumbs-down");
                    location.reload()
                })
            }

            like = !like
        }   
    </script>

    <div class="text-center border-bottom pl-2 pb-2">
    {% if user.is_authenticated %}
        <h4>New post</h4>
        <form action="{% url 'new_post' %}" method="POST">
            {% csrf_token %}
            <textarea name="content" id="content" rols="10" cols="70"></textarea>
            <br>
            <input type="submit" value="Post">
        </form>
    {% endif %}
    </div>
    
    <div class="pl-2 pt-2">
        <h4>All posts</h4>
        {% for post in page_posts %}
            <div class="border p-2 m-2">
                <div>
                    <h6><a href="{% url 'profile_page' user_id=post.owner.id %}">@{{ post.owner }}</a></h6>
                    <p id="{{ post.id }}_content">{{ post.content }}</p>
                    <p>{{ post.timestamp }}</p>
                    {% if user.is_authenticated %}
                        {% if user == post.owner %}
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal_edit_post_{{ post.id }}">Edit</button>

                            <div class="modal" id="modal_edit_post_{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_edit_post_{{ post.id }}">

                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">Edit</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <textarea id="textarea_{{ post.id }}" class="form-control" name="content">{{ post.content }}</textarea>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" onclick="submit({{ post.id }})">Save changes</button>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        {% else %}
                              {% if post.id in liked %}
                                    <button type="button" class="btn btn-info fa fa-thumbs-down col-12" id="{{ post.id }}" onclick="like({{ post.id }}, {{ liked }})"></button>
                              {% else %}
                                    <button type="button" class="btn btn-info fa fa-thumbs-up col-12" id="{{ post.id }}" onclick="like({{ post.id }}, {{ liked }})"></button>
                              {% endif %}
                        {% endif %}
                    {% endif %}

                    {% for like in likes %}
                        {% if like.post == post %}
                            <div class="p-1"><strong>{{ like.user }}</strong> liked this post!</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_posts.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if page_posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_posts.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
      </nav>

{% endblock %}