{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <form action="{% url 'category_filter' %}" method="POST">
        {% csrf_token %}
        <label for="categories">Filter by categories</label>
        <select name="categories">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <input class="btn btn-secondary mb-1" type="submit" value="Filter">
    </form>

    {% for auction in auctions %}
        {% if auction.active %}
        <div class="border mb-2 pb-2">
            <div class="text-center">
                    <h4 class="pt-2">Item: {{ auction.title }}</h4>
                    <img src="{{ auction.image_url }}" alt="Listing Image" width="250" height="250" class="pt-2">
                    <h5 class="pb-2 pt-2">Price: {{ auction.initial_bid }}</h5>
                    <p class="pb-2">Description: {{ auction.description }}</p>
                    <p class="pb-2">Category: {{ auction.category }}</p>
                    <a href="{% url 'listing' id=auction.id %}" class="btn btn-secondary">Buy</a>
            </div>
        </div>
        {% endif %}
    {% endfor %}

{% endblock %}